{{> header}}

<div align="center">
    <form action="ip" method="post" class="form-example" name="myForm">
        <div class="form-example">
            <label for="url">URL: </label>
            <input type="text" name="url" id="url" required>
        </div>
<!--        <div class="form-example">-->
<!--            <input type="submit" value="Subscribe!">-->
<!--        </div>-->
    </form>
    <input name="btnClick" type="button" id="btnClick" value="点我"/>
    <h2 id="result">todo </h2>

</div>



{{> footer}}